[defaults]
host_key_checking = False
deprecation_warnings = False
retry_files_enabled = False
gathering = explicit
fact_caching = memory

[persistent_connection]
connect_timeout = 30
command_timeout = 30

[ssh_connection]
pipelining = True
